<?xml version="1.0" encoding="UTF-8"?>
<!--
    © 2017 Stratio Big Data Inc., Sucursal en España. All rights reserved.
    This software – including all its source code – contains proprietary information of Stratio Big Data Inc., Sucursal en España and may not be revealed, sold, transferred, modified, distributed or otherwise made available, licensed or sublicensed to third parties; nor reverse engineered, disassembled or decompiled, without express written authorization from Stratio Big Data Inc., Sucursal en España.
-->
<configuration scan="true" scanPeriod="60 seconds" >
    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd'T'HH:mm:ss.SSS}%replace(%d{XXX}){'^Z$','+00:00'} %level %replace(%X{CLAVE_MDC_USER}){'^.{0}$','-'} %replace(%X{CLAVE_MDC_AUDIT}){'^.{0}$','-'} %replace(%X{CLAVE_MDC_PROCESS}){'^.{0}$','-'} %C {"@message": "%m","@data":%replace(%X{CLAVE_MDC_DATA-JSON}){'^.{0}$','{}'}}%n
            </pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>NEUTRAL</onMismatch>
        </filter>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd'T'HH:mm:ss.SSS}%replace(%d{XXX}){'^Z$','+00:00'} %level %replace(%X{CLAVE_MDC_USER}){'^.{0}$','-'} %replace(%X{CLAVE_MDC_AUDIT}){'^.{0}$','-'} %replace(%X{CLAVE_MDC_PROCESS}){'^.{0}$','-'} %C {"@message": "%m","@data":%replace(%X{CLAVE_MDC_DATA-JSON}){'^.{0}$','{}'}}%n
            </pattern>
        </encoder>
    </appender>

    <appender name="METRICS" class="io.prometheus.client.logback.InstrumentedAppender"/>

    <logger name="slick" level="INFO"/>
    <logger name="com.stratio" level="DEBUG"/>

    <root level="ERROR" additivity="false">
        <appender-ref ref="STDERR" />
        <appender-ref ref="STDOUT" />
        <appender-ref ref="METRICS" />
    </root>
</configuration>